body{
    text-align: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:5px solid black;
    margin:1.8rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow{
    background-color: #48cae4; 
}
.red{
    background-color: #023e8a; 
}
.purple{
    background-color: #6a4c93; 
}
.green{
    background-color: #0077b6; 
}
.flash{
    background-color: #caf0f8; 
    box-shadow: 0 0 25px 8px rgba(202, 240, 248, 0.85);
}
.userflash{
    background-color: #90e0ef; 
    box-shadow: 0 0 25px 8px rgba(144, 224, 239, 0.7);
}